*[b-x7o8xqqtgx] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accBody[b-x7o8xqqtgx] {
    min-width: 70vw;
    min-height: 80vh;

    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container[b-x7o8xqqtgx] {
    background: #d1d1d16e;
    padding: 40px;
    border-radius: 16px;

    width: 380px;
    height: 500px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group[b-x7o8xqqtgx] {
    display: flex;
    flex-direction: column;
}

.register-btn[b-x7o8xqqtgx] {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    align-self: center;
}