@inherits LayoutComponentBase

<div class="background">
</div>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="darkmode @(isDarkMode ? "dark" : "light")">

        <label class="switch">
            <input type="checkbox" @bind="isDarkMode" />

            <span class="slider">
                <span class="icon sun">☀️</span>
                <span class="icon moon">🌙</span>
            </span>
        </label>

    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isDarkMode;
}