@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject WebsiteProject.Services.AppState AppState

<div class="background"></div>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="top-bar">

        <div class="darkmode">
            <button class="theme-button" @onclick="ToggleTheme">
                @(isDarkMode ? "☀️" : "🌙")
            </button>
        </div>

        <div class="profile">
            <button class="profile-button" @onclick="GoToProfile">
                👤
            </button>
        </div>

    </div>

    <main>
        <article class="main-content">
            @Body
        </article>
    </main>

</div>

@code {
    private bool isDarkMode;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var theme = await JS.InvokeAsync<string>("localStorage.getItem", "theme");

        isDarkMode = theme == "dark";

        await ApplyTheme();

        StateHasChanged();
    }

    private void GoToProfile()
    {
        if (AppState.CurrentUser == null)
            NavigationManager.NavigateTo("/signin");
        else
            NavigationManager.NavigateTo("/profile");
    }

    private async Task ToggleTheme()
    {
        isDarkMode = !isDarkMode;

        await JS.InvokeVoidAsync(
            "localStorage.setItem",
            "theme",
            isDarkMode ? "dark" : "light"
        );

        await ApplyTheme();

        StateHasChanged();
    }

    private async Task ApplyTheme()
    {
        await JS.InvokeVoidAsync(
            "document.body.setAttribute",
            "data-theme",
            isDarkMode ? "dark" : "light"
        );
    }
}