div[b-h9li5ba2vp] {
    user-select: none;
}

.page.light[b-h9li5ba2vp] {
    background-image: url('/Images/backgroundsea.jpg');
    background-size: cover; 
}

.page.dark[b-h9li5ba2vp] {
    background-image: url('/Images/background_dark.jpg');
    background-size: cover; 
    filter: brightness(0.7);
}

.page[b-h9li5ba2vp] { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-h9li5ba2vp] {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title[b-h9li5ba2vp] {
    text-align: center;
}

.sidebar[b-h9li5ba2vp] {
    background-image: transparent;
}


.top-row[b-h9li5ba2vp] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .top-row[b-h9li5ba2vp]  a, .top-row[b-h9li5ba2vp]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-h9li5ba2vp]  a:hover, .top-row[b-h9li5ba2vp]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-h9li5ba2vp]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-h9li5ba2vp] {
        justify-content: flex-end;
    }

    .top-row[b-h9li5ba2vp]  a, .top-row[b-h9li5ba2vp]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-h9li5ba2vp] {
        flex-direction: row;
    }

    .sidebar[b-h9li5ba2vp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-h9li5ba2vp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-h9li5ba2vp]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-h9li5ba2vp], article[b-h9li5ba2vp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-h9li5ba2vp] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-h9li5ba2vp] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.darkmode[b-h9li5ba2vp] {
    position: fixed;
    top: 0rem;
    right: 2rem;
    z-index: 1000;
}

.switch[b-h9li5ba2vp] {
    position: relative;
    display: inline-block;
}

.switch input[b-h9li5ba2vp] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider[b-h9li5ba2vp] {
    position: relative;
    width: 58px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 999px;
    border: 2px solid #0000005f;
    cursor: pointer;
    overflow: hidden;
}


.slider[b-h9li5ba2vp]::before {
    content: "";
    position: absolute;

    height: 22px;
    width: 20px;

    left: 3px;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50%;
    transition: 0.6s;
}

.switch input:checked + .slider[b-h9li5ba2vp]::before {
    transform: translate(24px, -50%);
}

.icon[b-h9li5ba2vp] {
    font-size: 20px;
    z-index: 1;
    transition: 0.3s ease;
}

.sun[b-h9li5ba2vp] {
    opacity: 0;
    transform: rotate(-90deg);
}

.moon[b-h9li5ba2vp] {
    opacity: 1;
}

.switch input:checked + .slider .sun[b-h9li5ba2vp] {
    opacity: 1;
    transform: rotate(0deg);
}

.switch input:checked + .slider .moon[b-h9li5ba2vp] {
    opacity: 0;
}

